.env
screenshots/db_normalization_2/Lecture_on_databases_2/
screenshots/sql_introduction/lecture_on_sql_3
screenshots/transaction_4/lecture_SQL_Transaction
screenshots/data_warehouse_5/Lecture_5
screenshots/python_intro_6/lecture_6/
screenshots/python_functions_8/lecture_8/
screenshots/advanced_data_type_7/lecture_7/
/screenshots/python-OOP_9/lecture_9/
